h1,
p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 500px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

body {
  background: #ddf4ff;
}

a:hover {
  color: red;
}
